<footer class="footer">
    <h4 class="footer-heading">FinanceCraft</h4>
    <hr class="footer-hr">
    <p class="footer-subheading">LEARN . ANALYSE . PREDICT</p>
    <p class="footer-txt">Stay ahead of the market trends, make informed decisions, and maximize your returns. Join us in shaping your financial success today.</p>
    <p class="footer-txt">. . .</p>
    <div class="footer-right">

        <a href="https://omdena.com/"><i class="fa-brands fa-google fa-bounce" style="color: #fdf50d;"></i></i></a>
        <a href="https://www.linkedin.com/company/omdena-bhopal-chapter/"><i class="fa-brands fa-linkedin fa-bounce" style="color: #00ffd5;"></i></i></a>
        <a href="https://github.com/OmdenaAI"><i class="fa-brands fa-github fa-bounce" style="color: #3fff0a;"></i></i></a>
        <a href="omdena@vitbhopal.ac.in"><i class="fa-sharp fa-solid fa-envelope fa-bounce" style="color: #ff0000;"></i></a>

    </div>

</footer>